h1 {
  font-family: Verdana;
  font-weight: bold;
  font-size: 50px;
  color: white;
  text-align: center;
}
a {
  font-family: Verdana;
  font-weight: normal;
  font-size: 16px;
  color: rgba (127, 255, 212, 1);
  text-align: center;
  text-decoration: underline;
}
body
  {
  background-color: black;
  text-align: center;
}
p{
  font-family: Verdana;
  font-size: 21px;
  color: gray;
  text-align: center;
}
video {

}
footer p {
  text-align: right;
}
